*,*::after,*::before{
    box-sizing: border-box;
}

body{
    background: black;
    color:aliceblue;
}

h1{
    text-align: center;
    margin: 2em;
}

.get{
    display: flex;
    flex-wrap: wrap;
}

.cell{
    flex-grow: 1;
    margin: 0;
    width: 20vw;
}

.top{
    display: flex;
}

img{
    display: block;
}

.poster{
    height: 300px;
   object-fit: contain;
}

article{
    padding: 2em;
    padding-left: 0;
}

.add{
    display: none;
}